* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  list-style-type: none;
  outline: none;
}

h1 {
  color: #3F5579;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.page_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #C9C9C9;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #172A48;
  width: 100%;
  padding: 20px 5%;
  overflow: hidden;
}

.container_footer img {
  width: 400px;
}

@media all and (max-width: 767px) {
  .container_footer img {
    width: 350px;
    padding-left: 10px;
  }
}

.ligne {
  border-top: 6px solid white;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #172A48;
  width: 100%;
  overflow: hidden;
}

.container img {
  width: 500px;
  padding: 15px;
}

@media all and (max-width: 767px) {
  .container img {
    width: 350px;
  }
}

.home {
  width: 100%;
  max-width: 40%;
  margin-top: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 767px) {
  .home {
    max-width: 100%;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
  .home {
    max-width: 70%;
  }
}

.create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 4px 2px #3F5579;
          box-shadow: 4px 4px 4px 2px #3F5579;
  padding: 4%;
}

@media all and (max-width: 767px) {
  .create {
    border-radius: 0px;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
  .create {
    border-radius: 6px;
  }
}

.create_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create_header p {
  margin-left: 5px;
  color: #3F5579;
  font-weight: bold;
}

.create_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.create_form textarea {
  min-height: 90px;
  width: 100%;
  resize: none;
  border: 2px solid #3F5579;
  border-radius: 6px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

.create_form input {
  color: #3F5579;
  font-size: 1rem;
  font-weight: bold;
}

.create_form .create_button {
  cursor: pointer;
  background: #3F5579;
  width: 35%;
  color: white;
  border-radius: 6px;
  margin-top: 5px;
  font-size: 1rem;
  padding: 5px 20px;
  border: 2px solid transparent;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.create_form .create_button:hover {
  background: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.home_posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 25px;
}

.home_post {
  background-color: white;
  border-radius: 6px;
  -webkit-box-shadow: 4px 4px 4px 2px #3F5579;
          box-shadow: 4px 4px 4px 2px #3F5579;
  padding: 4%;
  margin-bottom: 20px;
}

@media all and (max-width: 767px) {
  .home_post {
    border-radius: 0px;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
  .home_post {
    border-radius: 6px;
  }
}

.home_post_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.home_post_header p {
  font-weight: bold;
  color: #3F5579;
  text-transform: capitalize;
}

.home_post_content {
  cursor: pointer;
  width: 100%;
  min-height: 50px;
  color: #3F5579;
  font-size: 1.1rem;
  font-style: italic;
  background-color: white;
  text-align: left;
  padding: 10px 0px;
}

.home_post_image {
  margin-top: 10px;
  cursor: pointer;
}

.home_post_image img {
  width: 100%;
  max-height: 100%;
  border-radius: 6px;
}

.ligne_post {
  border-top: 2px solid #C9C9C9;
  width: 100%;
  margin-bottom: 10px;
}

.home_post_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_post_footer p {
  font-weight: bold;
  color: #172A48;
  text-transform: capitalize;
}

.home_post_comment {
  color: #3F5579;
  cursor: pointer;
}

.home_post_comment:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.home_post_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_post_buttons p {
  margin-left: 10px;
  color: #3F5579;
}

.home_post_buttons_like {
  cursor: pointer;
  color: #BA4D55;
}

.home_post_buttons_like:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.home_post_buttons_unlike {
  cursor: pointer;
  color: #C9C9C9;
}

.home_post_buttons_unlike:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.nav_container {
  width: 100%;
  max-width: 40%;
  margin-top: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 767px) {
  .nav_container {
    max-width: 100%;
    margin-top: 6px;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
  .nav_container {
    max-width: 70%;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  background-color: #172A48;
  -webkit-box-shadow: 4px 4px 4px 2px #3F5579;
          box-shadow: 4px 4px 4px 2px #3F5579;
  padding: 3%;
}

@media all and (max-width: 767px) {
  .navbar {
    border-radius: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
  .navbar {
    border-radius: 6px;
  }
}

.navbar_welcome {
  color: #b2cde2;
  font-size: 1.3rem;
}

.navbar_icon {
  cursor: pointer;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  color: white;
}

.navbar_icon:hover {
  color: #BA4D55;
}

.post_container {
  max-width: 40%;
  width: 100%;
}

@media all and (max-width: 767px) {
  .post_container {
    max-width: 100%;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
  .post_container {
    max-width: 70%;
  }
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 4px 2px #3F5579;
          box-shadow: 4px 4px 4px 2px #3F5579;
  padding: 4%;
  margin: 20px 0px;
  width: 100%;
}

@media all and (max-width: 767px) {
  .post {
    border-radius: 0px;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
  .post {
    border-radius: 6px;
  }
}

.post_content {
  min-height: 50px;
  width: 100%;
  color: #3F5579;
  font-size: 1.1rem;
  font-style: italic;
  background-color: white;
  text-align: left;
  padding: 10px 0px;
}

.post_button_edit {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  color: #3F5579;
}

.post_button_edit:hover {
  color: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.post_image {
  margin: 10px 0px;
}

.post_image img {
  width: 100%;
  max-height: 100%;
  border-radius: 6px;
}

.post_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.post_footer p {
  padding: 10px;
  font-weight: bold;
  color: #3F5579;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.post_footer p:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.post_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.post_button .post_button_edit {
  margin-right: 10px;
  cursor: pointer;
  color: #BA4D55;
}

.post_button .post_button_edit:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.post_button .post_button_delete {
  margin-right: 10px;
  cursor: pointer;
  color: #172A48;
}

.post_button .post_button_delete:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.create_form_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.create_form_post textarea {
  min-height: 90px;
  width: 100%;
  resize: none;
  border: 2px solid #3F5579;
  border-radius: 6px;
  padding: 10px;
  font-size: 1rem;
  margin: 10px 0px;
}

.create_form_post input {
  color: #3F5579;
  font-size: 1rem;
  font-weight: bold;
  margin: 15px 0px;
}

.create_form_post .create_button {
  cursor: pointer;
  background: #3F5579;
  width: 35%;
  color: white;
  border-radius: 6px;
  margin-top: 5px;
  font-size: 1rem;
  padding: 5px 20px;
  border: 2px solid transparent;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.create_form_post .create_button:hover {
  background: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.ligne_post_mod {
  border-top: 2px solid #C9C9C9;
  width: 100%;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .ligne_post_mod {
    margin-top: 10px;
  }
}

.comment_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 4px 2px #3F5579;
          box-shadow: 4px 4px 4px 2px #3F5579;
  padding: 4%;
  margin: 20px 0px;
  width: 100%;
}

@media all and (max-width: 767px) {
  .comment_form {
    border-radius: 0px;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
  .comment_form {
    border-radius: 6px;
  }
}

.comment_form textarea {
  width: 100%;
  min-height: 70px;
  resize: none;
  border: 2px solid #3F5579;
  border-radius: 6px;
  padding: 10px;
  color: #3F5579;
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 20px;
}

.comment_form button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
  background: #3F5579;
  color: white;
  border-radius: 6px;
  font-size: 1rem;
  padding: 5px 20px;
  border: 2px solid transparent;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.comment_form button:hover {
  background: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.comment_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.comment_title h1 {
  font-size: 1.3rem;
}

.comment_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment_container {
  background-color: white;
  border-radius: 6px;
  -webkit-box-shadow: 4px 4px 4px 2px #3F5579;
          box-shadow: 4px 4px 4px 2px #3F5579;
  padding: 4%;
  margin-bottom: 20px;
  width: 95%;
}

.comment_container .comment_content {
  min-height: 40px;
  border: 2px solid #3F5579;
  border-radius: 6px;
  background-color: white;
  text-align: left;
  color: #3F5579;
  font-size: 1rem;
  font-style: italic;
  padding: 10px;
  margin-bottom: 10px;
}

.comment_username_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment_username_button p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3F5579;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.comment_delete_button {
  cursor: pointer;
  color: #172A48;
  background-color: white;
  border: none;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.comment_delete_button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4% auto;
  background: white;
  -webkit-box-shadow: 4px 4px 4px 2px #3F5579;
          box-shadow: 4px 4px 4px 2px #3F5579;
  text-align: center;
  border-radius: 6px;
}

@media all and (max-width: 767px) {
  .sign {
    border-radius: 0px;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
  .sign {
    border-radius: 6px;
  }
}

.sign_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.sign_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.sign_list ul li {
  cursor: pointer;
  width: clamp(150px, 20vw, 250px);
  border-radius: 6px;
  padding: 10px;
  -webkit-transition: 200ms;
  transition: 200ms;
  font-weight: bold;
  font-size: 1.1rem;
  border: 2px solid transparent;
}

.sign_list ul li:hover {
  border: 2px solid #172A48;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.sign_active {
  background-color: #3F5579;
  border-radius: 6px;
  color: white;
}

.sign_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 250px;
  margin-top: 10px;
}

.sign_form h1 {
  font-size: 1.4rem;
}

.sign_form input {
  width: 80%;
  border: 2px solid #3F5579;
  border-radius: 6px;
  height: 40px;
  font-size: 1rem;
  padding-left: 6px;
}

@media all and (max-width: 767px) {
  .sign_form input {
    width: 90%;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
  .sign_form input {
    width: 70%;
  }
}

.sign_form button {
  cursor: pointer;
  background: #3F5579;
  color: white;
  border-radius: 6px;
  font-size: 1.2rem;
  padding: 10px 40px;
  border: 2px solid transparent;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.sign_form button:hover {
  border: 2px solid #b2cde2;
  background: #BA4D55;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

span {
  color: #BA4D55;
  font-weight: bold;
}

.sign_valid {
  color: #0099ff;
  font-weight: bold;
}

.user {
  max-width: 40%;
  width: 100%;
}

@media all and (max-width: 767px) {
  .user {
    max-width: 100%;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
  .user {
    max-width: 70%;
  }
}

.user_profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 4px 2px #3F5579;
          box-shadow: 4px 4px 4px 2px #3F5579;
  padding: 4%;
  margin: 20px 0px;
}

@media all and (max-width: 767px) {
  .user_profile {
    border-radius: 0px;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
  .user_profile {
    border-radius: 6px;
  }
}

.user_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px;
}

.user_header h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #3F5579;
}

.user_header .user_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  background-color: white;
}

.user_header .user_image img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3F5579;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upload label {
  color: #3F5579;
  font-weight: bold;
}

.upload button {
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  background: #3F5579;
  color: white;
  font-size: 1.1rem;
  padding: 5px 20px;
  border: 2px solid transparent;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.upload button:hover {
  background: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.ligne_post_user {
  border-top: 2px solid #C9C9C9;
  width: 100%;
  margin: 10px 0px;
}

.user_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user_biography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  background-color: white;
  margin: 10px 0px;
}

.user_biography p {
  border: 2px solid #3F5579;
  border-radius: 6px;
  color: mediumseagreen;
  font-weight: bold;
  background-color: white;
  text-align: left;
  padding: 15px;
}

.user_biography button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #3F5579;
  color: white;
  padding: 10px;
  margin-left: 10px;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.user_biography button:hover {
  background: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.user_biography form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user_biography form textarea {
  resize: none;
  border: 2px solid #b2cde2;
  border-radius: 6px;
  background-color: white;
  text-align: left;
  min-width: 400px;
  padding-top: 15px;
  padding-left: 10px;
}

@media all and (max-width: 767px) {
  .user_biography form textarea {
    min-width: 250px;
  }
}

.user_email_password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  background-color: white;
}

.user_email form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_email form input {
  width: 100%;
  resize: none;
  border: 2px solid #172A48;
  border-radius: 6px;
  background-color: #b2cde2;
  padding: 10px;
  font-size: 1rem;
}

.user_email button {
  cursor: pointer;
  margin: 10px 0;
  font-size: 1rem;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #3F5579;
  color: white;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.user_email button:hover {
  background: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.user_password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  background-color: white;
}

.user_password button {
  cursor: pointer;
  margin: 10px 0;
  font-size: 1rem;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #3F5579;
  color: white;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.user_password button:hover {
  background: #BA4D55;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.user_password input {
  width: 100%;
  resize: none;
  border: 2px solid #172A48;
  border-radius: 6px;
  padding: 10px;
  background-color: #b2cde2;
  font-size: 1rem;
  margin-bottom: 10px;
}

.user_delete {
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  background-color: white;
}

.user_delete .user_delete_button {
  cursor: pointer;
  margin: 10px 0;
  font-size: 1rem;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #BA4D55;
  color: white;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.user_delete .user_delete_button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}
/*# sourceMappingURL=styles.css.map */